<script>
    $(".detailsButton").click(function (e) {
        $(".details").toggle();
    })
</script>

<div class="item">
    <input type="button" class="detailsButton"/>
    <div class="details" style="visibility:hidden">
        Partial View
    </div>
</div>