

<div class="item">
    rtertertertetrdfgdfgdfg
    @*<input type="button" id="detailsButton"/>
    <div id="details" style="display: none">
        Partial View
    </div>*@
</div>

@*@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/JavaScript1.js")

}*@