@model DomainObject.Car

<body>
    <div>
        Speed:
        @Html.DisplayFor(itemModel=>Model.Speed)
    </div>
    <div>
        DeltaAcceleration:
        @Html.DisplayFor(itemModel=>Model.DeltaAcceleration)
    </div>
    <div>
        AccelerationInterval:
        @Html.DisplayFor(itemModel=>Model.AccelerationInterval)
    </div>
    <div>
        DurationOfAcceleration:
        @Html.DisplayFor(itemModel=>Model.DurationOfAcceleration)
    </div>
</body>

