@model DomainObject.Car

<body>
    <table>
        <tr>
            <td>
                Speed:
            </td>
            <td>
                @Html.DisplayFor(itemModel => Model.Speed)
            </td>
        </tr>
        <tr>

            @* ---- ДЛЯ БУДУЩЕ МОДИФИКАЦИИ ---- *@
            @*<td>
                DeltaAcceleration:
            </td>
            <td>
                @Html.DisplayFor(itemModel => Model.DeltaAcceleration)
            </td>
        </tr>
        <tr>
            <td>
                AccelerationInterval:
            </td>
            <td>
                @Html.DisplayFor(itemModel => Model.AccelerationInterval)
            </td>
        </tr>
        <tr>
            <td>
                DurationOfAcceleration:
            </td>
            <td>
                @Html.DisplayFor(itemModel => Model.DurationOfAcceleration)
            </td>
        </tr>*@

    </table>
</body>

