@model DomainObject.Race

@if (Model.Cars != null)
{
    foreach (var item in Model.Cars)
    {
        <table class="table">
            <tr>
                <td>
                    @Html.DisplayFor(itemModel => item.NameCar)
                </td>
                <td>
                    <div style="background-color:aliceblue">
                        @Html.DisplayFor(itemModel => item.Distance)
                    </div>
                </td>
            </tr>
        </table>
    }
}

