@model DomainObject.Race



@if (Model.Cars != null)
{
    foreach (var item in Model.Cars)
    {
        <table class="table">
            <tr class="row">

                <td class="col-lg-2" style="background-color:blue; color:white; font-size:14pt">
                    <input type="button" id="DetailButton" value="@Html.DisplayFor(itemModel => item.NameCar)" />
                    <input type="hidden" id="carId" value="@Html.DisplayFor(itemModel => item.CarID)" />
                </td>
                <td class="col-lg-10" style="background-color:grey">
                    <div style="background-color:orange; width:100%; position:relative;
                                                color:white; font-size:14pt; text-align:left">
                        Distance:
                        @Html.DisplayFor(itemModel => item.Distance) km
                    </div>
                </td>
            </tr>
        </table>
    }
}
